.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white; /* Fondo blanco para el formulario */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.form-container label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%; /* Asegura que las etiquetas ocupen el ancho completo */
    
}

.form-container input,

.form-container textarea,
.form-container select {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}

.form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 1em;
}
