:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.pokemon-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding-left: 150px;
  padding-top: 150px;
}

.pokemon-row {
  display: grid; /* Cambiamos a grid para organizar las tarjetas en una fila */
  grid-template-columns: repeat(5, 1fr); /* 5 columnas de igual ancho en cada fila */
  gap: 20px; /* Espacio entre las tarjetas en una fila */
  justify-content: space-between; /* Distribuye las filas uniformemente */
}

.pokemon-card {
  border: 4px solid #479aca;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.199);
}


.pokemon-card:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.pokemon-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.water {
	background-color:rgb(39, 90, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.grass {
	background-color: rgb(0, 255, 0);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.poison {
	background-color: rgb(128, 0, 128);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.fire {
	background-color: rgb(255, 0, 0);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.bug {
	background-color: rgb(121, 160, 57);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.dragon {
	background: rgba(54, 0, 204, 0.993);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.flying {
	background-color: rgb(174, 229, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.ground {
	background-color: rgb(117, 66, 0);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.steel {
	background-color: rgb(51, 100, 109);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.psychic {
	background-color: rgb(245, 87, 113);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.ice {
	background-color: rgb(0, 217, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.ghost {
	background-color: rgb(102, 74, 105);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.normal {   
	background-color: grey;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.rock {
	background-color: rgb(81, 102, 81);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.electric {
	background-color: yellow;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.fighting {
	background-color: rgb(204, 162, 83);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.fairy {
	background-color: rgb(255, 149, 166);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.dark {
	background-color: rgb(32, 32, 32);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}